<html>
    <head>
        <script src='/_ah/channel/jsapi'></script>
    </head>
    <body>
        <table>
            <tr>
                <th>Reference</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for invoice in invoice_list %}
            <tr>
                <td>{{invoice.reference}}</td>
                <td>{{invoice.date}}</td>
                <td class="copy-action" style="cursor:pointer">Copy</td>
            </tr>
            {% endfor %}
        </table>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="/static/javascripts/ZeroClipboard.js"></script>
    
  <script>
    onMessage = function(m) {
        console.log("### " + m.data);
    }

    channel = new goog.appengine.Channel('{{ token }}');
    socket = channel.open();
    //socket.onopen = onOpened;
    socket.onmessage = onMessage;
    //socket.onerror = onError;
    //socket.onclose = onClose;
  </script>

    <script>
    $(document).ready(function() {
        clip = new ZeroClipboard.Client();
        //clip.setHandCursor(true);

        $('.copy-action').mouseover( function() {
            clip.setText($(this).prev().prev().text());

            if (clip.div) {
                clip.receiveEvent('mouseout', null);
                clip.reposition(this);
            }
            else clip.glue(this);

            clip.receiveEvent('mouseover', null);
        });
    });
    </script>
</html>
